*.asv
.DS_Store
process_recordings/example_data
process_recordings/*.png
conversions/__pycache__/
utils/__pycache__/
utils/__pycache__/convert_npy_to_mat.cpython-39.pyc
data_io/.ipynb_checkpoints/
data_io/*.swp
